
#cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 6%;
}
#cardss{
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: 15px;
  overflow: hidden;
  padding: 12px;
  position: relative;

}
#one ul{
  list-style: none;
  

}

Nav{
  background: rgb(253, 246, 246);
}

#hr{
  background: rgb(185, 182, 182);
  display: flex;
  flex-direction: row;
  width: 2px;
  height: 150px;
  
}
#row-control{
  height: 20px;
}